div.row{float:none!important;display:block;position:relative}
th.column{padding:0;float:none;width:auto;position:inherit}
table.listing,table.sequencewidget,table.ordered-selection-field{width:inherit}
table.listing th:last-child{float:none!important}
table.listing tbody{word-break:break-all}
.template-atct_image_transform #content-core > div.label,.formQuestion.label{background:none transparent;padding:0;line-height:normal;text-align:left;position:static;margin:auto;white-space:normal;color:#000;font-size:inherit}
.formQuestion,#content input[type="checkbox"] + label,input[type="radio"] + label{display:inline}
label .label{background:none;font-size:inherit;padding:0;color:#4d4d4d}
#content ul.button-group{list-style-type:none;margin-left:0}
ul.configlets{margin:1em 0;list-style-image:none;list-style:none}
.field .widget .label{text-align:left;background:none}
.field table.ordered-selection-field button[name='upButton'],.field table.ordered-selection-field button[name='downButton'],.field table.ordered-selection-field button[name='from2toButton'],.field table.ordered-selection-field button[name='to2fromButton']{font-size:.61111rem;padding:.55556rem 1.11111rem .61111rem}
input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:none;-moz-appearance:none;border-radius:0;border-style:solid;border-width:0;cursor:pointer;font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;font-weight:400;line-height:normal;margin:0 0 1.25rem;position:relative;text-align:center;text-decoration:none;display:inline-block;padding:1rem 2rem 1.0625rem;font-size:1rem;background-color:#719100;border-color:#848e9c;color:#FFF;transition:background-color 300ms ease-out}
input[type="button"]:hover,input[type="button"]:focus,input[type="reset"]:hover,input[type="reset"]:focus,input[type="submit"]:hover,input[type="submit"]:focus{background-color:#848e9c;color:#FFF}
#content input[type="submit"],#content input[type="reset"]{margin-right:3px}
#content input[type="submit"]:last-child,#content input[type="reset"]:last-child{margin-right:0}
.calendar{z-index:99}
.calendar table{margin-bottom:0}
.calendar .button{color:#000;margin-bottom:0;display:table-cell}
.criteria dl.multipleSelectionWidget{background-color:#FAFAFA;border:1px solid #CCC;padding:.5rem;font-size:.875rem;border-radius:0;height:2.3125rem;margin-right:10px;width:auto}
.criteria dl.multipleSelectionWidget dt{border:none}
.criteria input.removecriteria{margin-left:5px;padding:10px;color:#fff!important}
.sortingField label{display:inline}
dl.newTagsSection dd textarea{display:inline}
#search-filter input[type="checkbox"],#search-filter input[type="radio"],#search-filter input[type="checkbox"],#search-filter input[type="radio"]{margin-bottom:0}
#search-filter .field{padding-top:5px;padding-bottom:5px}
#search-filter legend{font-size:14px!important;padding-top:0;padding-bottom:0}
#fieldset-openid-login input,#login-form input{display:inline;width:auto}
#content .field input[type="text"][name$=".title"],#archetypes-fieldname-title input,#content .field textarea[name$=".description"],#archetypes-fieldname-description textarea#description{font-size:inherit;font-weight:400}
.formHelp{font-weight:400;color:#6f6f6f}
@media only screen and (min-width: 40.063em) {
.datetime-field,.date-field{display:inline!important;margin-bottom:0}
#calroot{box-sizing:content-box}
#caltitle select{font-size:10px;width:auto;padding:0;margin:0;height:auto}
#content select{width:auto;height:auto;vertical-align:middle}
#content label select{width:100%}
form#groups_search,form#users_search{overflow-x:scroll}
form#groups_search input.quickSearch,form#users_search input.quickSearch{width:auto;display:inline}
form#groups_search input.searchButton,form#users_search input.searchButton{padding:8px}
}
#viewlet-below-content:before{display:block;clear:both;content:' '}
.discussion .commentImage img{height:32px}
.discussion input[name="form.button.DeleteComment"],.discussion input[name="form.button.PublishComment"],.discussion input[name="form.button.EditComment"]{font-size:.61111rem;padding:.55556rem 1.11111rem .61111rem}
.discussion .commentBody{font-style:italic;font-weight:400;color:#76797C}
#commenting .formControls input[type="submit"]{margin-right:5px}
#edit-bar ul{margin:0;font-size:inherit;top:-1px}
#edit-bar ul li{display:inline}
#edit-bar ul li a{line-height:19px}
#edit-bar dl{margin:0;font-size:inherit}
#edit-bar dl dt{margin-bottom:0}
#edit-bar:after{content:"";display:block;clear:both}
#LSResult{position:absolute;left:0.9375rem;background:#fff;margin:0;z-index:100;text-align:left}
#LSResult fieldset{padding:1em 0 0;border:.1em solid #ccc}
#livesearchLegend{background-color:#ccc;padding:.3em}
#LSResult .LSDescr{font-size:85%;color:#666}
.LSRow,#LSNothingFound{display:block;padding:.5em 1em;white-space:normal;width:28em}
.LSHighlight{background:#ddd}
#faceted-edit-widgets-ajax #export_button,#faceted-edit-widgets-ajax #import_button{margin-left:5px;padding:10px;color:#fff!important}
form.searchPage #search-field input{display:inline}
form.searchPage #search-field input[type="submit"]{padding:0 10px;border:1px solid #ccc}
form.searchPage #search-field input[type="text"]{width:60%;padding:10px}
input#sharing-user-group-search,input#sharing-search-button{display:inline}
input#sharing-search-button{padding:8px 10px}
input#contentchooser-content-trees,input#contentchooser-content-search-input{box-shadow:none;padding:0;margin:0}
#configure_tile input[type=radio] + label{margin:0}
div.portletAssignments{font-size:inherit!important}
div.portletAssignments .managedPortletActions a,div.portletAssignments .managedPortletActions button{padding:0}
input[name='form.button.AddAssignment']{padding:8px;vertical-align:middle}
input[name="form.contents.query"]{display:inline}
input[name="form.contents.query"] + input[name="form.contents.search"]{padding:8px}
form[action="enl_subscribers_view"] span{background:none transparent;color:inherit;font-size:inherit;line-height:inherit;padding:0}
form[action="enl_subscribers_view"] input[type="submit"]{padding:8px}
.field label[for="form.email"],.field label[for="form.current_password"],.field label[for="form.new_password"],.field label[for="form.new_password_ctl"],.field label[for="sender_from_address"],.field label[for="subject"],.field label[for="message"]{display:inline}
.field .fieldRequired{color:#fff!important}
#portal-column-content #portal-column-one{display:none}
#uploadbutton{margin-top:0!important}
#footer #action-button{margin-bottom:-10px!important}
#formfield-form-search_base input[id='form.search_base']{display:inline}
#formfield-form-search_base input[name='form.search_base.search']{padding:.55556rem 1.11111rem .61111rem}
#formfield-form-search_base input[name='form.search_base.browse.'],#formfield-form-search_base input[name='form.search_base.browse./en'],#formfield-form-search_base input[name='form.search_base.browse./es'],#formfield-form-search_base input[name='form.search_base.browse./shared']{font-size:.61111rem;padding:.55556rem 1.11111rem .61111rem}
#center-and-left-area #left-area{width:24em}
.faceted_letter,.faceted-empty-column{color:inherit!important}
#viewlet-below-content-body:before{content:' ';clear:both;display:block}
.datagridwidget-table-view{border-collapse:collapse;border:none}
.byline-portrait{height:24px;width:24px}
#content .documentDescription,#content #description{color:#666;margin-left:0;font-size:1.25em;font-weight:700;word-wrap:break-word;}
#internallinkcontainer.radioscrolllist .list.item{padding:.5em}
#internallinkcontainer.radioscrolllist .list.item span,#internallinkcontainer.radioscrolllist .list.item a{margin-top:-5px}
#details-fields.widget.radioscrolllist .field .widget select,#details-fields.widget.radioscrolllist .field .widget input{margin-bottom:0!important}
#category{font-size:75%;margin-bottom:1em;color:#666;text-align:right}
#category a.link-category,span.selectedTag{color:#000;padding:.25em .5em;background:#ddd;border-radius:.5em;-webkit-border-radius:.5em;-moz-border-radius:.5em}
#category a.link-category:hover{background:#719100;color:#fff}
#category .separator{display:none}
#content div.newsImageContainer a{border-bottom:none}
#content div.newsImageContainer p.discreet{margin:0;padding:.5em;background-color:#666;background-color:rgba(40,40,40,0.7);color:#fff;font-weight:400;font-size:80%;position:relative;width:200px;top:-3em}
#parent-fieldname-leadImage + p.discreet{width:200px!important}
#parent-fieldname-image + p.discreet{width:400px!important}
.plone_jscalendar select{width: auto}

body.template-logged_out #content,body.template-login_form #content,.pb-ajax #login-form{text-align: center;}
#login-form .field > label{display: inline}
div.field.error{background-color: #fdc;border: 1px solid red;padding:0.5em;}