body {
    padding-top: 70px;
}

.caret-right {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid;
}

pre.policy-document {
    font-size: 10px;
}

textarea.code {
    font-family: "Consolas","Bitstream Vera Sans Mono",Monaco,monospace;
}

.tooltip-enabled {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

.error-callout {
    border: 1px solid #eee;
    border-left-color: #aa6708;
    border-left-width: 5px;
    border-radius: 3px;
    margin: 20px;
    padding: 20px;
}

.error-icon {
    color: #aa6708;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}
