th.field-name{
	width: 200px;
}

#card-container{
	width: 70% !important;
	display: inline-block;
	margin-right: 20px;
    float: left;
}


#actions-container{
	width: 20% !important;
	display: inline-block;
}

#actions-container #toolbar{
	padding: 10px
}

#change-container .object-tools{
	display: none;
}

#change-container .submit-row{
	display: none;	
}

.card-credit{
	width: 100%;
	text-align: center;
	color: #428bca;
	font-size: 20px;
    padding: 6px;
}

.redeem-btn, .reward-btn{
	font-size: 20px;	
	height: 40px;
    width: 100%;
}

.reward-logo {
    float: left;
    margin-left: -7px;
    height: 38px;
    margin-top: -4px;
    width: 38px;
    border-radius: 5px;
}

.reward-title{
	float: left;
	margin-left: 10px;
	margin-top: 2px;	
}
