table.comment-types {
  width: auto;
}
table.comment-types tr {
  border-bottom: 0;
}
table.comment-types td {
  padding: 4px 12px;
}
table.comment-types thead,
table.comment-types tbody {
  border-bottom: 1px solid #f5f5f5;
}
table.comment-types tfoot {
  border: none;
}
table.comment-types tfoot td {
  background: none;
  border: none;
}
