            @font-face {
                font-family: MyTest;
                src: url('Verdana.ttf');
            }

            h1 {
                font-family: MyTest;
            }
                
            img {
                max-width: 50%;
            }
