; vim: set fileencoding=utf-8 :
; Manuel Guenther <manuel.guenther@idiap.ch>
; Thu Oct  9 16:51:06 CEST 2014

[buildout]
parts = scripts
eggs = bob.extension==2.0.11
       bob.blitz==2.0.8
       bob.core==2.1.0

       bob.math==2.0.3
       bob.sp==2.0.4
       bob.measure==2.1.0

       bob.io.base==2.0.8
       bob.io.image==2.0.4
       bob.io.matlab==2.0.4
       bob.io.video==2.0.6

       bob.learn.activation==2.0.4
       bob.learn.boosting==2.0.5
       bob.learn.em==2.0.7
       bob.learn.linear==2.0.7

       bob.ip.base==2.0.8
       bob.ip.color==2.0.4
       bob.ip.draw==2.0.3
       bob.ip.facedetect==2.0.4
       bob.ip.flandmark==2.0.3
       bob.ip.gabor==2.0.4

       bob.db.base==2.0.5
       bob.db.verification.utils==2.0.3
       bob.db.verification.filelist==2.0.3
       bob.db.atnt==2.0.3
       bob.db.arface==2.0.4
       bob.db.banca==2.0.4
       bob.db.lfw==2.0.4
       bob.db.mobio==2.0.5
       bob.db.multipie==2.0.4
       bob.db.xm2vts==2.0.4
       bob.db.youtube==2.0.4

       bob.bio.base==2.0.5
       bob.bio.face==2.0.3
       bob.bio.gmm==2.0.5
       bob.bio.video==2.0.1

       bob.bio.csu==2.0.3
       PythonFaceEvaluation

       gridtk
       bob.chapter.FRICE

extensions = bob.buildout
develop = ${buildout:csu-dir}
          .

csu-dir = [PATH_TO_YOUR_CSU_COPY]

; options for bob.buildout
debug = false
verbose = true
newest = false

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
