 .similar_values-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
 }

.similar_values-list {
    background: #F5F5F5;
}

.highlight {
    background-color: #f6a048;
}

.selected {
    font-weight: bold;
}

.seda-export-error {
    color: #C11B17;
    font-size: 80%;
}

div.formGroup {
    border: 1px solid #BBB;
    padding-left: 3px;
    padding-right: 3px;
}

.form-control.metaField, .form-control.hasDatepicker {
    width: 90%;
    display: inline;
}

.form-control.metaField.hasDatepicker{
    width: 86%;
}

.panel .list-group .list-group-item {
    padding: .2em 1em;
}

ul.navbar-nav {
    padding-left: 1em;
}

ul.breadcrumb {
    padding-left: 0px;
}
