.references-slideshow{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,c0d5e5+52,ffffff+99 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #c0d5e5 52%, #ffffff 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(52%,#c0d5e5), color-stop(99%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#c0d5e5 52%,#ffffff 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#c0d5e5 52%,#ffffff 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#c0d5e5 52%,#ffffff 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#c0d5e5 52%,#ffffff 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    padding-top: 50px;
}

.references-slideshow .reference{
    width: 1000px;
    margin: 0 auto;
}

.reference {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #ECECEC;
}

.reference:last-child {
    border-bottom: none;
}

.reference img{
    width: 150px;
    height: auto;
    float: left;
    margin-top: 20px;
}

.reference:nth-child(even) img {
    float: right;
    margin-right: none;
    margin-left: 50px;
}

.reference .reference-date{
    color: #2f5c82;
}

.reference-footer a{
    color: white;
    font-size: 13px;
    display: block;
    width: 190px;
    height: 35px;
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    margin-top: 30px;
    background-color: #3a7fbb;
}

.reference-footer a:hover{
    background-color: #3074b0;
}

.reference-content{
    width: 700px;
    padding-left: 50px;
    float: left;
}

.carousel-indicators{
    position: relative;
    margin-top: 50px;
}

.carousel-indicators li{
    border-color: #3a7fbb;
}

.carousel-indicators li.active{
    background: #3a7fbb !important;
}
