
.icon-file-word:before { content: '\e800'; } /* '' */
.icon-file-excel:before { content: '\e801'; } /* '' */
.icon-file-pdf:before { content: '\e802'; } /* '' */
.icon-doc:before { content: '\e803'; } /* '' */
.icon-doc-text:before { content: '\e804'; } /* '' */
.icon-file-audio:before { content: '\e805'; } /* '' */
.icon-file-video:before { content: '\e806'; } /* '' */
.icon-popup:before { content: '\e807'; } /* '' */