body {
  padding-top: 50px;
}

.entry-content {
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 20px;
}

.entry-content h2 {
  color: #333333;
}

.entry-content h3 {
  color: #737373;
}

.entry-content p {
  font-size: 14pt;
}

.edit-form {
  margin-top: 40px;
}

.edit-textarea {
  margin: 0px;
  width: 90%;
  height: 750px;
  font-size: 14pt;
}

.archive-list {
  font-size: 14pt;
}