/* GLOBAL STUFF */
.warnings{
    margin-top: 10px;
}

.alert{
    padding: 5px 10px;
    margin-bottom: 5px;
}

.alert button.close{
    right: 0;
}

#device{
    margin-left: 10px;
}

svg {
    font: 10px sans-serif;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.legend text{
    font-size: 12px;
}


/* GENERAL WIDGETS */
.lit{
    fill: #29F;
    fill-opacity: 1;
}

path, circle{
    fill: #222;
    fill-opacity: 0.05;
}


/* BATTERY WIDGETS */
.bar path{
    fill: white;
    fill-opacity: 1;
}

.danger{
    fill: red;
    fill-opacity: 1;
}

#battery-widget-pile{
    float: left;
}

#battery-display{
    margin-right: 10px;
    float: left;
}

/* LED WIDGET */
.led-circle{
    fill: url(#gradient-led);
    fill-opacity: 1;
}
