body {
	margin: 0 100px;
	font-size: 14px;
}

.small_date {
	font-size: 10px;
	margin-top:4px;
}
/*************
* List style
*/
ol {

}
ol li {
	margin: 7px 0;
}
/*************
* Table style
*/
.about-table .name_column {
	width: 26%;
}
.about-table .key_column {
	width: 70%;
}
.about-table .version_column {
	width: 30%;
}

.about-table {
    margin: 0 40px 40px 0;
    padding: 0;
    width: 100%;
    box-shadow: 10 10 5px #888888;
    border: 1px solid #000000;
    -moz-border-radius-bottomleft: 9px;
    -webkit-border-bottom-left-radius: 9px;
    border-bottom-left-radius: 9px;
    -moz-border-radius-bottomright: 9px;
    -webkit-border-bottom-right-radius: 9px;
    border-bottom-right-radius: 9px;
    -moz-border-radius-topright: 9px;
    -webkit-border-top-right-radius: 9px;
    border-top-right-radius: 9px;
    -moz-border-radius-topleft: 9px;
    -webkit-border-top-left-radius: 9px;
    border-top-left-radius: 9px;
}

.about-table table {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.about-table th td:last-child {
    -moz-border-radius-bottomright: 9px;
    -webkit-border-bottom-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.about-table table th td:first-child {
    -moz-border-radius-topleft: 9px;
    -webkit-border-top-left-radius: 9px;
    border-top-left-radius: 9px;
}

.about-table table th td:last-child {
    -moz-border-radius-topright: 9px;
    -webkit-border-top-right-radius: 9px;
    border-top-right-radius: 9px;
}

.about-table th td:first-child {
    -moz-border-radius-bottomleft: 9px;
    -webkit-border-bottom-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.about-table tr:hover td {
    background-color: #82c0ff;
    background: -o-linear-gradient(bottom, #82c0ff 5%, #56aaff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #82c0ff), color-stop(1, #56aaff));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#82c0ff", endColorstr="#56aaff");
    background: -o-linear-gradient(top, #82c0ff, 56 aaff);
}

.about-table tr th {
    background: -o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");
    background: -o-linear-gradient(top, #0069d3, 007 fff);
    background-color: #0069d3;
    border: solid #000000;
    text-align: center;
    border-width: 0 0 1px 1px;
    font-size: 18px;
	font-family: "Courier New", serif;
    font-weight: bold;
    color: #ffffff;
	padding:10px;
}

.CSSTableGenerator th:hover td {
    background: -o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");
    background: -o-linear-gradient(top, #0069d3, 007 fff);
    background-color: #0069d3;
}

.about-table th td:first-child {
    border-width: 0 0 1px 0;
}

.about-table th td:last-child {
    border-width: 0 0 1px 1px;
}

.about-table td {
    background: -o-linear-gradient(bottom, #56aaff 5%, #82c0ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #82c0ff));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#82c0ff");
    background: -o-linear-gradient(top, #56aaff, 82 c0ff);
    background-color: #56aaff;
    border: solid #000000;
    border-width: 0 1px 1px 0;
    text-align: left;
    padding: 7px;
	font-family: "Courier New", serif;
    font-weight: bold;
    color: #000000;
}
.about-table td:first-child {
	font-size: 14px;
}
.about-table tr:last-child td {
    border-width: 0 1px 0 0;
}

.about-table tr td:last-child {
    border-width: 0 0 1px 0;
}

.about-table tr:last-child td:last-child {
    border-width: 0 0 0 0;
}