#container {
  width: 100%;
}

#status-route {
  max-width: 1000px;
  margin: auto;
}

#chart-route {
  max-width: 85vw;
  margin: auto;
}

.ct-line {
  stroke-width: 1px;
}

.display {
  padding-top: 0.01em;
  padding-bottom: 0.01em;
  background-color: white;
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}

.white-out {
  color: rgba(255, 255, 255, 1);
}
