
@import "mixins";

.navbar-fixed-top {

}

.image-circle {
  border-radius: 50%;
}



.WM {
  // Profile avatar
  &-profile-avatar {
    @include circle-image(100px)
  }
  &-profile-avatar-40 {
    @include circle-image(42px)
  }
  &-profile-avatar-50 {
    @include circle-image(50px)
  }
  &-profile-avatar-100 {
    @include circle-image(100px)
  }
  &-profile-avatar-150 {
    @include circle-image(150px)
  }
  &-profile-avatar-200 {
    @include circle-image(200px)
  }

  &-share-buttons {
    font-size: 20px;
    a {
      text-decoration: none !important;
    }
  }
}





